extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1=projectDetail.project_name
        p=projectDetail.description

      .project-tech-links-box.box
        h6 Technologies
        ul

          each skill in projectDetail.technologies
            li=skill

        a.btn-link(href=projectDetail.live_link, target='_blank') Live Demo
        a.btn-link(href=projectDetail.github_link, target='_blank') GitHub Repo

    .project-img-box.box

      //- Replace the URLs in the src attributes below with interpolated template literals to dynamically add your project images, and add descriptions to the alt attributes
      each image in projectDetail.image_urls
        img.project-img(src=image, alt='Screenshot of project')

    nav.nav
      a(href='/')
        span &larr;
        |  Back
